body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
header {
    margin: 0;
    padding: 20px;
    background-color: #ffffff;
}
nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #404040;
    font-size: 18px;
}
nav a:hover {
    color: tomato;
}
main {
    padding: 20px;
}
section {
    margin-bottom: 40px;
    width: 100%;
}
img {
    width: 70%;
    height: auto;
}
table {
    width: 50%;
    border-collapse: collapse;
}
table {
    border-collapse: collapse;
    width: 50%;
}
th, td {
    border: 2px solid #404040;
    padding: 8px;
    text-align: left;
}

footer {
    padding: 20px;
    background-color: #ffffff;
}